body {
    background-color: #f8f8f8;
    line-height: 1.5;
    color: darkslategray;

}

.container{
    width: 1000px;
    margin: 0 auto;
   
}

.header {
     height: 110px;
       background-image: repeating-radial-gradient(circle closest-side at 30px 50px, beige, darkcyan 150%, lightskyblue 200%, beige 320%);
  
    
}



.menu {
    list-style-type: none;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    float: right;
    font-size: 1.2em;
    margin-right: 10px;
    
}

.menu li {
    display: inline;
     
}

img.logo {
    width: 105px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
   
}

.footer {
    height: 100px;
    background-color: lightskyblue;  
}

.footer p {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.top {
    height: 250px;
}

.top h3{
display: flex;
padding-left: 50px;
}

.top p {
display: flex;
padding-left: 50px;
}
.top img {
    float: left;
}

.top button {
    margin-left: 50px;
    width: 150px;
    height: 50px;
    font-family: monospace;
    font-size: 1.8em;
    border-radius: 55px;
    border: 1.4px solid darkcyan;
    color: darkcyan;
    background-image: repeating-radial-gradient(circle closest-side at 100px 300px, beige,  lightskyblue 200%, beige 320%);
  
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
     outline: none;

}

.top button:hover {
    background-image: repeating-radial-gradient(circle closest-side at 100px 300px, lightskyblue,  darkcyan 200%, lightskyblue 320%);
    color: beige;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}
.top button:active {
    background-image: repeating-radial-gradient(circle closest-side at 100px 300px, darkcyan,  lightskyblue 200%, darkcyan 320%);
    color: cornsilk;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    margin-top: 3px;
   
}

.imgnote {
    outline: 3px solid darkcyan;
}

.imgnote:hover {
    outline: inherit;
}


.menu li a:hover {
    color: red;
}

.a1 {
    color: darkslategray;
    font-size: 1.4em;
    font-family: monospace;
    text-decoration: none;
}

h1 {
    color: darkcyan;
    text-align: center;
    font-family: monospace;

}

h3 {
    font-weight: 400;
    color: black;
    font-size: 18px;
    background-color: #eaeaea;

}

.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.long_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.character {
    list-style-image: url(img/listmark.jpg);
    color: darkcyan;
    font-family: monospace;
    font-size: 1.3em;
    vertical-align: top;
    line-height: 56px;
}

.description p::first-letter {
    color: darkcyan;
    font-size: 1.5em;
    font-family: fantasy;
}

form {
    text-align: center;
}

.box {

    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 1.2em;
    color: darkcyan;
    font-family: monospace;
    text-transform: capitalize;
}


.boxemail {

    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: monospace;
    text-transform: capitalize;
}


input.boxemail:focus {
    background-color: black;
    color: white;
    font-size: 1.4em;
    font-style: normal;

}

.boxemail:focus::placeholder {
    color: aquamarine;

}

textarea {
    text-transform: capitalize;
}

input,
select,
textarea {
    font-style: italic;

}

.listbox {

    width: 210px;
    margin-bottom: 20px;
    padding: 5px 5px;
    line-height: 1.2em;
    color: darkcyan;
    font-family: monospace;
}

.quality {
    line-height: 26px;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 20px;

}


#hello {
    text-align: center;
    font-size: 1.2em;
}

.textbody {
    text-align: justify;
}

.footer {
    text-align: center;
    font-family: monospace;
    color: darkcyan;
}

.param {
    border: 3px solid darkcyan;
    border-collapse: collapse;


}

td {
    border: 1px solid darkcyan;
    width: 150px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.firstrow {
    height: 100px;
    background-color: darkcyan;
    color: beige;
    text-align: center;
    font-size: 1.5em;
    vertical-align: top;

}

.secondrow {
    text-align: center;
    color: darkcyan;
    font-family: fantasy;
}

.firstst {
    width: 15px;
}

 #notebooks {
    width: auto;
     height: auto;
    background-color:beige;
     display: flex;
     justify-content: space-around;
}

#notebooks img{
    width: 150px;
    height: 100px;
}

.notebook {
    width: 150px;
    height: 200px;
    
}

.notebook h3 {
    font-size: 0.7em;   
    
}

.notebook img {
 margin-top: 20px
}

@media (max-width: 620px){
    .top {
        height: 500px;
    }
    .top img{
        float: none;
    }
}